@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
  box-sizing:border-box;
}

html, body {
  margin:0;
  padding:0;
  width:100%;
  height:100%;
  overflow: auto;
}

html {
  background: #8360c3;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #2ebf91, #8360c3);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #2ebf91, #8360c3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-size:cover;
  background-attachment: fixed;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color:white;
  font-family: 'Roboto', sans-serif;

}

.App {
  margin:auto;
  max-width:85%;
  text-align:center;
}

.title {
    font-size: 1.5rem;
    padding: 1rem 0;
}

.map-container{
	visibility:hidden;
	transform: scale(.1);
	transition: .3s ease-in all;
}

.map-container--displayed {
	visibility: visible;
	transform: scale(1);
}

#mapContainer {
    width: 300px;
    height: 300px;
    text-align: left;
    margin: 0 auto;
    padding: 1rem 0;
}

@media (min-width: 600px) {
  #mapContainer {
      width: 400px;
      height: 400px;
  }
}
